<h1 class='mt-2'>Productos</h1>
<%= render 'flash_message' %>
<%= link_to 'Loguearse', backend_products_path, class: 'btn btn-success' %>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th> image</th>
      <th>Producto</th>
      <th>Activo</th>
      <th>Precio</th>
      <th>Eiquetas</th>
    </tr>
  </thead>
  <tbody>
    <%= render @presenter.products %>
  </tbody>
</table>

<%= will_paginate @presenter.products %>
